* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url("../../components/img/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    justify-content: center;
    animation: change 15s infinite  ease-in-out;
    overflow: hidden;
}

.main::before {
    opacity: 0.1;
}
.main span{
    color: #fff;
}
.mainText {
    text-align: left;
    font-size: 40px;
    position: absolute;
    width:40vw;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-30%);
    text-transform: uppercase;
}

@keyframes change {
    0% {
        background-image: url("../../components/img/1.jpg");
    }
    25% {
        background-image: url("../../components/img/2.jpg");
    }
    50% {
        background-image: url("../../components/img/3.jpg");
    }
    100% {
        background-image: url("../../components/img/1.jpg");
    }
}

.mainTextTitle {
    color: gold;
}

.buttonAbout{
    position: absolute;
    top: 65%;
    left: 30%;
    transform:translate(-65%,-30%);
    padding: 25px 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 251, 251);
    letter-spacing: 2px;
    font-size: 25px;

}
.buttonAbout:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: gold;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
    border-radius: 10px;

}
.buttonAbout:hover:before
{
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.buttonAbout:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    border: 4px solid gold;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.buttonAbout:hover:after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}